@import "src/styles/vars";

.messagesContainer {
  display: flex;
}

.userMessagesBlock {
  padding-right: 8px;
}

.userMessages {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: calc(100vh - 116px);
  overflow-y: scroll;
}


.messagesBlock {
  display: flex;
  margin-top: -30px;
  flex-direction: column;
  width: 100%;
  //padding: 10px 12px 10px 24px;
  border-left: 1px solid $Gray200;
}

.messageUser {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
  border-bottom: 1px solid $Gray200;
  cursor: pointer;
  padding: 16px 0;
  span {
    font-weight: 500;
  }
}

.avatarBlock {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.messagesBlockNone {
  display: none;
}

.messages {
  margin-right: 12px;
  padding-right: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
  display: flex;
  gap: 8px;
  flex-direction: column-reverse;
}

.messageBlock {
  display: flex;
  align-items: center;
}

.borderMessage {
  width: 24px;
  border-bottom: 2px solid $Gray200;
}

.borderYourMessage {
  width: 24px;
  border-bottom: 2px solid $Gray300;
}

.message {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  margin-right: 20px;
  gap: 16px;
  border-radius: 20px;
  background-color: $LightWhite;
  div {
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    border-radius: 1000px;
  }
}

.text {
  font-size: 16px;
  line-height: 130%;
}


.yourMessage {
  background-color: $Gray300;
  margin-left: 90px;
  margin-right: 0;
}
