@import "src/styles/vars";

.alertBlock {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: $ErrorAlert;
  border: 1px solid $ErrorAlert;
  border-radius: 8px;
}

.hide {
  display: none;
}

.alertText {
  display: flex;
  span {
    font-size: 16px;
    color: $ErrorAlertText;
  }
}

.alertClose {
  cursor: pointer;
  display: flex;
}
