@import "src/styles/vars";

.navigationBlock {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}

.logoNavigationBlock {
  width: 334px;
  padding-left: 16px;
  margin-right: 40px;
}

.itemsNavigationBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.itemNavigation {
  padding: 16px 0;
  cursor: pointer;
}

.link {
  color: $gray;
  cursor: pointer;
  font-weight: 400;
}

.link:hover {
  color: $gray;
  cursor: pointer;
  font-weight: 400;
}


.linkActive, .linkActive:hover {
  color: $TextDark;
  font-weight: 600;
  cursor: pointer;
}




