@import "src/styles/vars";

.button {
  background: $purple;
  border-radius: 10px;
  padding: 12px 16px;
  border: 1px solid $purple;
  align-items: center;
  width: 100%;
  cursor: pointer;

  span {
    font-weight: 600;
    color: $white;
  }

  &:hover {
    background: $purpleHover;
  }
}

.button:disabled {
  cursor: default;
  background-color: $gray;
  border: 1px solid $gray;
}

.clearButton {
  background: $white;
  border: 1px solid $purple;

  span {
    color: $purple;
  }

  &:hover {
    background: $purple;
    span {
      color: $white;
    }
  }
}

.grayButton {
  background: $LightWhite;
  border: 1px solid $LightWhite;

  span {
    color: $gray;
  }

  &:hover {
    background: $SecondaryDark;
    span {
      color: $white;
    }
  }
}

.redClearButton {
  background: $white;
  border: 1px solid $Error;

  span {
    color: $Error;
  }

  &:hover {
    background: $Error;
    span {
      color: $white;
    }
  }
}
