@import "src/styles/vars";

.button {
  background: $purple;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid $purple;
  align-items: center;
  width: 100%;
  cursor: pointer;
  span {
    font-weight: 600;
    color: $white;
  }
}

.button:disabled {
  cursor: default;
  background-color: $gray;
  border: 1px solid $gray;
}

.clearButton {
  background: $white;
  border: 1px solid $purple;
  span{
    color: $purple;
  }
}

.grayButton {
  background: $white;
  padding: 10px 16px;
  border: 1px solid $gray;
  span {
    color: $gray;
  }
}

.redClearButton {
  background: $white;
  padding: 10px 16px;
  border: 1px solid $RedDanger;
  span {
    color: $RedDanger;
  }
}
