.authLogoBlock {
  flex: 1;
  display: flex;
  height: 100vh;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(210.91deg, #1B22D7 -2.36%, #000000 109.15%);
  border-radius: 20px 0px 0px 20px;
}

.authLogoName {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  img {
    justify-content: center;
    width: 300px;
  }
}

.authLogoDescription {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  span {
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
    color: #FFFFFF;
  }
}

.authLogoImage {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}


@media screen and (max-width: 1201px) {
  .authLogoBlock {
    width: 100%;
    position: absolute;
    border-radius: 0;
    justify-content: start;
    padding-top: 50px;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
