@import "src/styles/vars";

.secondStepBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepsBlock {
  margin-bottom: 24px;
}

.helperTextBlock {
  margin-bottom: 50px;

  span {
    color: $gray;
    font-size: 21px;
  }
}

.interestsBlock {
  width: 100%;
  margin-bottom: 70px;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.selectBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
  border: 1px solid $LightWhite;
  padding: 12px 16px;
  border-radius: 10px;
  background: $LightWhite;

  &:focus-within {
    border: 1px solid $HelperGray;
    border-radius: 10px 10px 0 0;
  }

  input {
    background: $LightWhite;
    font-size: 16px;
    font-weight: 500;
    border: 0px solid $LightWhite;
    width: 40%;

    &:focus {
      outline: 0;
    }
  }
}

.selectBlockActActive {
  border-radius: 10px 10px 0 0;
}

.selectInterest {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $purple;
  padding: 4px 8px;
  border-radius: 8px;

  span {
    font-size: 14px;
    color: $Gray100;
  }

  img {
    cursor: pointer;
    height: 8px;
    width: 8px;
  }
}

.dropdownBlock {
  display: flex;
  max-height: 300px;
  overflow-y: scroll;
  flex-direction: column;
  gap: 16px;
  border-radius: 0 0 10px 10px;
  border: 1px solid $Gray200;
  background: $SecondWhite;
  padding: 16px 0;
}

.findHeader {
  padding-left: 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: $HelperGray;
}

.interestSuggestBlock {
  padding-left: 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interestSuggest {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $gray;
  border-radius: 100px;
  border: 1px solid $Gray400;
  padding: 10px 16px;

  &:hover {
    background-color: $LightWhite;
  }
}

.findInterestBlock {
  display: flex;
  flex-direction: column;
}

.findInterest {
  cursor: pointer;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: $gray;

  span {
    font-weight: 500;
    color: $TextDark;
  }
  &:hover {
    background-color: $LightWhite;
  }
}

.buttonDoneBlock {
  width: 100%;
  padding: 0 35%;
}
