@import "src/styles/vars";

.profileBlock {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 16px;
}

.profileAvatarBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  img {
    border-radius: 1000px;
    width: 120px;
    height: 120px;
  }
}

.profileAvatarHoverToUpload {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background: rgba(0, 0, 0, .2);

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    opacity: 1;
  }
}

.profileName {
  margin-top: 8px;
  margin-bottom: 16px;

  h2 {
    line-height: 36px;
    font-size: 21px;
    font-weight: 500;
  }
}

.profileElements {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid $Gray200;
}

.menuLinksProfile {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  border-bottom: 1px solid $Gray200;
}

.buttonCreateProject {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
  button {
    padding: 16px;
  }
}

.walletConnection {
  button {
    border-radius: 100px;
  }
}

.logout {
  margin-top: 24px;
}
