@import "src/styles/vars";

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-height: 95vh;
  padding: 12px;
  overflow-y: scroll;
  > div {
    background-color: $white;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.comments {
  border-top: 1px solid $Gray200;
  margin: 0 24px;
  padding: 24px 0;
}

.sendBlock {
  padding: 0 24px;
  textarea {
    background-color: $Gray200;
  }
}
