@import "src/styles/vars";

.filterBlock {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 24px;
  border-bottom: 1px solid $Gray200;
  margin-bottom: 24px;
  width: 100%;
}

.buttonsAndFindBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.buttonsFilter {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
}
