@import "src/styles/vars";

.filterBlock {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  width: 100%;
}

.buttonsAndFindBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.filters {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid $Gray300;
  padding: 10.5px 16px;
  span {
    color: $gray;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    background: $Gray300;
    span {
      color: $TextDark;
    }
  }
}

.filtersActive {
  background: $Gray300;
  span {
    color: $TextDark;
  }
}

.itemsFoundBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 47px;
  width: 100%;
  margin-top: 16px;
  z-index: 5;
  background-color: $white;
  position: absolute;
}

.activeItemsFoundBlock {
  height: calc(100vh - 170px);
}

.finderItemsBlock {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}
