@import "src/styles/vars";

.stepsBlock {
  margin-bottom: 24px;
}

.textBlock {
  margin-bottom: 24px;

  span {
    color: $gray;
    line-height: 28px;
    letter-spacing: 0.01em;
  }
}

.inputBlock {
  width: 100%;
  margin-bottom: 48px;
}


@media screen and (max-width: 1201px) {
  .inputBlock {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
