@import "src/styles/vars";

.myBlogContainer {
  display: flex;
  flex-direction: column;
}

.myPostsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  //height: calc(100vh - 95px - 92px);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.myPostsBlock::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sendBlock {
  min-width: 100%;
}

.emptyPostsBlock {
  margin-top: 30px;
  height: 70vh;
  span {
    font-size: 24px;
    color: $HeaderDark;
  }

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
