@import "../../styles/vars";

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  span {
    font-size: 14px;
  }
}

.pointer {
  cursor: pointer;
}

.image {
  cursor: pointer;
}

.textLight {
  color: $TextDark;
}

.textPurple {
  color: $purple;
}
