@import "src/styles/vars";

.userContainer {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.postsBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 13px;
  height: calc(100vh - 336px);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.postsBlock::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.emptyPosts {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray;
  font-weight: 500;
  font-size: 24px;
}
