@import "src/styles/vars";

.userContainer {
  display: flex;
  flex-direction: column;
}

.postsBlock {
  width: 684px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 13px;
  height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.postsBlock::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.emptyPosts {
  display: flex;
  color: $HeaderDark;
  font-size: 24px;
}
