@import "src/styles/vars";

.inputSendBlock {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  background: $white;
  box-shadow: 5px -1px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px 0 0 0;
}

.textareaSendBlock {
  display: flex;
  padding: 24px 8px 24px 24px;
  width: 100%;
}

.addPhotoBlock {
  display: flex;
  align-items: flex-end;
  padding-bottom: 11px;
  border-radius: 10px 0 0 10px;
  justify-content: center;
  width: 56px;
  background-color: $Gray200;

  img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}

.textarea {
  border: 0;
  border-radius: 0 10px 10px 0;
  padding: 14px 0;
  width: 100%;
  resize: none;
}

.textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.buttonSend {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 11px;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 10px;
  border: 1px solid $Gray300;
  background-color: $Gray200;

  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $purple;
  }
}
