$dark: #000000;
$TextDark: #152536;
$HeaderDark: #0F1333;
$SecondaryDark: #54595E;
$gray: #6C757D;
$TextSecondary: #7F9DA0;
$Gray200: #E9ECEF;
$LightWhite: #F8F9FA;
$HelperGray: #ABB5BE;
$white: #FFFFFF;
$purple: #6F42C1;
$lightPurple: #F0ECF9;
$blue: #2F80ED

