$dark: #000000;
$InputText: #212529;
$TextDark: #0A011B;
$HeaderDark: #0F1333;
$SecondaryDark: #54595E;
$gray: #6C757D;
$TextSecondary: #7F9DA0;
$Gray100: #F8F9FA;
$Gray200: #E9ECEF;
$Gray300: #DEE2E6;
$Gray400: #CED4DA;
$LightWhite: #F3F5F6;
$HelperGray: #ABB5BE;
$white: #FFFFFF;
$purple: #6F42C1;
$purpleHover: #432874;
$Purple100: #F0ECF9;
$Purple300: #A98EDA;
$lightPurple: #F0ECF9;
$blue: #2F80ED;
$green: #28A745;
$orange: #FFC107;
$Yellow100: #FFF3CD;
$Yellow200: #FFE69C;
$Yellow800: #664D03;
$ErrorAlert: #F8D7DA;
$ErrorAlertText: #721C24;
$Error: #DC3545;
$RedDanger: #E8626F;

$HeaderHeight: 100px;
$InputSendHeight: 96px

