@import "src/styles/vars";

.deleteModalContent {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.deleteQuestion {
  display: flex;
  padding-top: 10px;
  font-weight: 400;
  justify-content: center;
}

.buttonsModal {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
