@import "src/styles/vars";

.post {
  display: flex;
  max-width: 684px;
  position: relative;
  gap: 16px;
  padding: 16px 24px 8px;
  border-radius: 20px;
  background-color: $LightWhite;
}

.avatarPostCreator {
  cursor: pointer;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
}

.mainPostInformation {
  display: flex;
  flex-direction: column;
}

.userInformation {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  cursor: pointer;
}

.name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-right: 8px;
}

.dot {
  font-size: 20px;
  font-weight: 600;
  color: $gray;
}

.date {
  font-size: 12px;
  font-weight: 500;
  color: $gray;
}

.postText {
  margin-bottom: 24px;
  p {
    font-size: 14px;
    font-weight: 400;
  }
}


.actionIcons {
  display: flex;
  align-items: center;
  gap: 36px;
}

.repostInformation {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100%;
  span {
    font-size: 12px;
    color: $HelperGray;
  }
  img {
    width: 18px;
    opacity: .4;
  }
}

.deleteBasketBlock {
  cursor: pointer;
  position: absolute;
  right: 24px;
  bottom: 8px;
}

.gallery {
  column-count: 3;
  column-gap: 10px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.item {
  display: inline-block;
  width: 100%;
}

.image {
  border-radius: 20px;
  width: 100%;
}
