

.createProjectContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modalContent {
  width: 500px;
  padding: 60px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}