@import "src/styles/vars";


.selectBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


.select {
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: $LightWhite;


  input {
    background-color: $LightWhite;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px 16px 11px 16px;
    outline: 0;
    border: 1px solid $LightWhite;

    &::placeholder {
      color: $HelperGray;
    }
  }

  input:focus {
    outline: 0;
    border: 1px solid $HelperGray;
  }
}

.selectActive {
  border-radius: 10px 10px 0 0;

  input {
    border-radius: 10px 10px 0 0;
  }
}

.clearFilter {
  position: absolute;
  top: 3px;
  right: 30px;
  width: 40px;
  cursor: pointer;
}

.dropdown {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
}

.dropdownUnActive {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  transform: rotate(180deg);
}

.dropdownBlock {
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  z-index: 2;
  position: absolute;
  padding-bottom: 20px;
  top: 42px;
  flex-direction: column;
  background-color: $SecondWhite;
  border: 1px solid $Gray200;
  border-radius: 0 0 10px 10px;
}

.resultsSearchingText {
  padding-top: 16px;
  padding-left: 16px;

  span {
    font-size: 12px;
    font-weight: 500;
    color: $HelperGray;
    text-transform: uppercase;
  }
}

.dropdownElement {
  padding: 14px 16px;

  span {
    font-size: 16px;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
    background-color: $LightWhite;
  }
}

.dropdownElementText {
  color: $gray;
}

.dropdownElementHighlight {
  color: $TextDark;
}

