@import "src/styles/vars";

.selectBlock {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.select {
  background-color: $LightWhite;
  border: 1px solid $LightWhite;
  border-radius: 4px;
  padding: 10px 0 11px 15px;
  width: 100%;
  cursor: pointer;

  &[title = 'gray200'] {
    background-color: $Gray200;
  }
}

.active {
  border: 1px solid $purple;
}

.placeholder {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: $HelperGray;
}

.selected {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: $dark;
}

.dropdownImage {
  position: absolute;
  top: 12px;
  right: 10px;
}

.listDropDownBlock {
  background: $LightWhite;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 200px;

  &::-webkit-scrollbar {
    display: none;
  }

  &[title = 'gray200'] {
    background-color: $Gray200;
  }
}

.dropdownElement {
  cursor: pointer;
  padding: 15px;

  &:hover {
    background-color: $purple;

    span {
      color: $white;
    }
  }
}