@import "src/styles/vars";

.inputFindBlock {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background-color: $LightWhite;
  border: 2px solid $LightWhite;
  &:focus-within {
    border: 2px solid $purple;
  }
}

.inputFindIcon {
  margin-right: 10px;
  img {
    height: 22px;
    width: 22px;
  }
}

.inputFind {
  width: 100%;
  input {
    padding-right: 16px;
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: $LightWhite;
  }
  input::placeholder {
    color: $HelperGray;
  }
  input:focus {
    outline: 0;
    border: 0px solid $purple;
  }
}
