@import "src/styles/vars";

.inputFindBlock {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 20px;
  border-radius: 10px;
  border: 1px solid $Gray300;
  &:hover {
    background-color: $Gray200;
    border: 1px solid $Gray300;
    input {
      background-color: $Gray200;
    }
  }
  &:focus-within {
    background-color: $Gray200;
    border: 1px solid $gray;
    input {
      background-color: $Gray200;
    }
  }
}

.inputFindIcon {
  margin-right: 10px;
  margin-top: 4px;
  img {
    height: 22px;
    width: 22px;
  }
}

.inputFind {
  width: 100%;
  input {
    padding-right: 16px;
    width: 100%;
    border: none;
    font-size: 16px;
  }
  input::placeholder {
    font-weight: 500;
    font-size: 14px;
    color: $gray;
  }
  input:focus {
    outline: 0;
    border: 0px solid $purple;
  }
}

.clearFilters {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 36px;
    height: 29px;
  }
}
