@import "src/styles/vars";

.subscriptionsBlock {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
}

.subscriptionsSortAndFind {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscriptions {
  height: calc(100vh - 252px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.spinnerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 40px;
    animation: 2s linear 0s normal none infinite running rot;
    -webkit-animation: 2s linear 0s normal none infinite running rot;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
