@import "src/styles/vars";

.registrationBlock {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.registrationElements {
  display: flex;
  width: 100%;
  padding: 40px 24px;
  background-color: $white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registrationHeader {
  h2 {
    font-size: 24px;
  }
}

.authWithGoogle {
  width: 100%;
  padding: 48px 40px 56px 40px;
}

.linesWithText {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputBlock {
  width: 100%;
  margin-top: 24px;
}

.registrationButtonBlock {
  width: 100%;
  margin-top: 48px;
}

.loginBlock {
  margin-top: 48px;

  .login {
    margin-left: 6px;
    cursor: pointer;
    color: $purple;
    line-height: 19px;
  }
}

@media screen and (max-width: 1201px) {
  .registrationBlock {
    justify-content: flex-end;
    margin: 10px;
  }

  .registrationElements {
    margin: 10px;
    border-radius: 20px;
  }

  .authWithGoogle {
    padding: 30px 0;
  }

  .linesWithText {
    margin-bottom: 30px;
  }

  .inputBlock {
    margin-top: 16px;
  }

  .registrationButtonBlock {
    margin-top: 24px;
  }

  .loginBlock {
    display: none;
  }

  .registrationHeader {
    h2 {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
