@import "src/styles/vars";

.subscribersBlock {
  margin-top: 24px;
  width: 100%;
}

.subscriberFind {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribers {
  height: calc(100vh - 252px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
