@import "src/styles/vars";

.recoveryBlock {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.recoveryElements {
    display: flex;
    width: 100%;
    padding: 40px 24px;
    background-color: $white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recoveryHeader {
    h2 {
        font-size: 24px;
    }
}

.stepsContentBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 24px;
    justify-content: center;
    text-align: center;
    margin-bottom: 48px;
}

.withoutAccountBlock {
    .signUp {
        cursor: pointer;
        margin-left: 6px;
        color: $purple;
    }
}

@media screen and (max-width: 1201px) {
    .recoveryBlock {
        justify-content: flex-end;
        margin: 10px;
    }

    .recoveryElements {
        border-radius: 20px;
    }

    .stepsContentBlock {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
