@import "src/styles/vars";

.uploadInformation {
  display: flex;
  padding-top: 10px;
  padding-bottom: 24px;
  border-bottom: 1px solid $Gray200;
  span {
    color: $TextSecondary;
  }
}

.dropzoneBlock {
  margin-top: 30px;
  border: 2px dashed $HelperGray;
  cursor: pointer;
  padding: 60px;
  gap: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    font-size: 12px;
    color: $gray;
  }

  &:hover {
    border: 2px dashed $blue;
  }
}

.selectText {
  color: $blue !important;
}
