@import "src/styles/vars";

.appMain {
  display: flex;
  flex-direction: column;
}

.appContainer {
  display: flex;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.profileInformationBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  margin-right: 24px;
  margin-left: 16px;
  gap: 16px;
  background: $LightWhite;
  border-radius: 20px;
}

.contentBlock {
  width: 100%;
}
