@import "src/styles/vars";

.commentBlock {
  display: flex;
  background-color: $Gray200;
  border-radius: 20px;
  padding: 8px 16px;
  gap: 16px;
}

.mainCommentsInformation {
  display: flex;
  flex-direction: column;
}

.headerInformation {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
  cursor: pointer;
}

.avatar {
  height: 40px;
  width: 40px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-right: 8px;
}

.dot {
  font-size: 20px;
  font-weight: 600;
  color: $gray;
}

.date {
  font-size: 12px;
  font-weight: 500;
  color: $gray;
}

.commentText {
  margin-bottom: 20px;
  p {
    font-size: 14px;
    line-height: 130%;
  }
}

.actionComment {
  width: 100%;
  display: flex;
}
