@import "src/styles/vars";

.userSubBlock {
  display: flex;
  padding: 16px 24px;
  gap: 16px;
  align-items: center;
  border-radius: 10px;
  background-color: $LightWhite;
  cursor: pointer;
}

.avatar {
    width: 56px;
    height: 56px;
}

.nameBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.name {
  color: $TextDark;
  font-weight: 500;
}

.country {
  font-size: 12px;
  color: $gray;
}

.lastActivity {
  font-size: 12px;
  color: $HelperGray;
}

.skillsBlock {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  background-color: $Gray200;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  color: $SecondaryDark;
}
