@import "src/styles/vars";

.menuItem {
  display: flex;
  width: 302px;
  align-items: center;
  padding: 10px 16px;
  gap: 16px;
  border-radius: 10px;
  border: 1px solid $LightWhite;
  position: relative;
  cursor: pointer;
}

.menuItemActive {
  background-color: $Gray200;
}

.menuImage {
  display: flex;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
  }
}

.menuText {
  span {
    font-size: 14px;
  }

}

.menuTextActive {
  span {
    font-size: 14px;
    color: $purple;
  }
}

.menuCountNotifications {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3px 8px;
  position: absolute;
  right: 14px;
  background: $purple;
  border-radius: 16px;
  span {
    letter-spacing: .5px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 10px;
    color: $white;
  }
}
