.authBlock {
  display: flex;
  max-height: 100vh;
}

.auth {
  width: 50%;
}

@media screen and (max-width: 1201px) {
  .authBlock {
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
