@import "src/styles/vars";

.userMessageBlock {
  display: flex;
  padding: 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: $LightWhite;
  cursor: pointer;
}

.active {
  background-color: $purple;
  span {
    color: $white;
  }
  p {
    color: $white;
  }
}

.avatar {
  img {
    border-radius: 1000px;
    height: 56px;
    width: 56px;
  }
}

.shortLastMessageBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.timeLastMessageBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  line-height: 28px;
}

.timeLastMessage {
  font-size: 12px;
  line-height: 15px;
  color: $HelperGray;
}

.shortLastMessage {
  display: flex;
  justify-content: space-between;
  p {
    font-size: 14px;
  }
}

.countNotifications {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3px 8px;
  right: 14px;
  background: $lightPurple;
  border-radius: 16px;
  span {
    letter-spacing: .5px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 10px;
    color: $purple;
  }
}
